---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Gorky%20Park,%20Moscow&key=&language=ru-ru&mode=driving&origins=Red%20Square,%20Moscow&output=json&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [
              "Центральный парк культуры и отдыха им. М.Горькогo, ул. Крымский Вал, 9, Москва, Россия, 119049"
           ],
           "origin_addresses" : [ "Красная пл., Москва, Россия, 109012" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "6,2 км",
                          "value" : 6183
                       },
                       "duration" : {
                          "text" : "18 мин.",
                          "value" : 1054
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 22 Jul 2018 21:36:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Gorky%20Park,%20Moscow&key=&language=en-us&mode=driving&origins=Red%20Square,%20Moscow&output=json&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [
              "Gorky Central Park of Culture and Leisure, Krimsky Val, 9, Moskva, Russia, 119049"
           ],
           "origin_addresses" : [ "Red Square, Moskva, Russia, 109012" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "6.2 km",
                          "value" : 6183
                       },
                       "duration" : {
                          "text" : "18 mins",
                          "value" : 1054
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 22 Jul 2018 22:55:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Gorky%20Park,%20Moscow&key=&language=en-us&mode=driving&origins=city%20not%20found&output=json&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [
              "Gorky Central Park of Culture and Leisure, Krimsky Val, 9, Moskva, Russia, 119049"
           ],
           "origin_addresses" : [ "" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "status" : "NOT_FOUND"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 23 Jul 2018 00:54:43 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=&key=&language=en-us&mode=driving&origins=&output=json&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [],
           "origin_addresses" : [],
           "rows" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Mon, 23 Jul 2018 00:56:32 GMT
recorded_with: VCR 4.0.0
